@import url(http://fonts.googleapis.com/css?family=Coda:400,800);

html, body {
    background-color: #0b0c0d;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Coda', sans-serif;
    color: #cca844;
}
p, div {
    font-family: 'Coda', sans-serif;
}
hr {
    color: #59fbea;
    background-color: #59fbea;
    border-color: #59fbea;
}
a {
    color: #59fbea !important;
}
.panel, .panel-heading {
    background-color: #004f4a !important;
}
.panel {
    border-color: #59fbea;
}
.panel-collapse {
    background-color: #102023;
}
li {
    color: #ebbc4a;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #59fbea;
}
input {
    background-color: #0b0c0d !important;
}
textarea, input {
    color: white !important;
}
.form-control {
    border: 1px #59fbea solid;
}
.has-error .form-control {
    background-color: rgba(169,68,66,0.15)
}
.has-success .form-control {
    background-color: #102023;
    border-color: #59fbea;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #59fbea !important;
}
.btn-default[disabled] {
    border: 1px #59fbea solid;
    opacity: 1;
    background-color: black;
    color: #999;
}
.btn-success {
    border: 1px #59fbea solid;
    opacity: 1;
    background-color: #004f4a;
    color: #999;
}