@import url(http://fonts.googleapis.com/css?family=Coda:400,800);

html, body {
    background-color: #0b0c0d;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Coda', sans-serif;
    color: #cca844;
}
p, div {
    font-family: 'Coda', sans-serif;
    border-radius: 0 !important;
}
p {
    color: #ebbc4a;
}
hr {
    color: #59fbea;
    background-color: #59fbea;
    border-color: #59fbea;
}
a {
    color: #59fbea !important;
}
.panel, .panel-heading {
    background-color: #004f4a !important;
}
.panel {
    border-color: #59fbea;
}
.panel-collapse {
    background-color: #102023;
}
li {
    color: #ebbc4a;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #59fbea;
}
input {
    background-color: #0b0c0d !important;
    border-radius: 0 !important;
}
textarea {
    resize: vertical;
    min-height: 100px;
}
textarea, input {
    color: white !important;
    border-radius: 0 !important;
}
.form-control {
    border: 1px #59fbea solid;
}
.has-error .form-control {
    background-color: rgba(169,68,66,0.15);
    box-shadow: none !important;
}
.has-success .form-control, .has-success .form-control:focus {
    background-color: #102023;
    border-color: #59fbea;
    box-shadow: none !important;
}
button {
    border-radius: 0 !important;
}
.btn-default[disabled] {
    border: 1px #59fbea solid;
    opacity: 1;
    background-color: #0b0c0d;
    color: #999;
}
.btn-success {
    border: 1px #59fbea solid !important;
    opacity: 1 !important;
    background-color: #004f4a !important;
    color: #999;
}
.checkbox {
    color: #59fbea;
}
#map-canvas {
    height: 500px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid #59fbea;
}
#actionPanel {
    margin-bottom: 10px;
}